
<h3>Show Employee</h3>
<ul>
    <li><strong>Id</strong>: {{id}}
        <li><strong>First Name:</strong> {{employee.firstName}} </li>
        <li><strong>Last Name:</strong> {{employee.lastName}}</li>
    </li>
</ul>
