doctype html
html
  head
    title= 'CS602'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      img(src='/images/bu-logo.gif', alt='logo')
    h2= 'Welcome to CS602!'
   
    a(href='/') Home |
    a(href='/about') About |
    a(href='/foo') Foo
   
    hr
    block content



