<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EJS</title>
  </head>
<body>
  <b><%= quote%></b>
<hr/>
<ul>
  <% quotes.forEach(function(quote) { %>
        <li><%= quote%></li>

  <%}); %>
   
</ul>
</body>
</html>
