<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

	<title>Scott Kaeneman</title>
</head>
<body>
	<header><img src="/images/bu-logo.gif" alt="logo"></header>
	
	<h2>CS602 HW2 - Scott Kaeneman</h2>
	
	<a href="/addEmployee">Add Employee</a>
	<hr/>

	{{{body}}}

</body>
</html> 