<!doctype html>
<html>
<head>
	<title>Module2 Part2</title>
</head>
<body>
<h2>Welcome to the Homepage</h2>
		<a href="/">Home</a> |
		<a href="/addEmployee">Add Employee</a>
<hr/>

	{{{body}}}

</body>
</html> 