<br />
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <a href="/admin/products" class="btn btn-block btn-outline-dark">Manage products</a>
        </div>
        <div class="col-sm-6">
            <a href="/admin/users" class="btn btn-block btn-outline-dark">Manage users</a>
        </div>
    </div>
</div>