<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a href="/admin/products" class="btn btn-outline-primary">Manage products</a>
            <a href="/admin/users" class="btn btn-outline-primary">Manage users</a>
        </div>
    </div>
</div>