
<br>
<div class="signup_user">
  <div class="container-fluid">
    <div class="col-sm-6 offset-sm-3">

      <br>          
      {{#if success}}
        <section class="errors">
          <h3>Successful test</h3>
        </section>

      {{ else }}
        <!-- check for validation error messages and print them out -->
        {{#if errors}}
          <section class="errors">
            <ul>
              {{#each errors}}
                <li>{{this.msg}}</li>
              {{/each}}
            </ul>
          </section>
        {{/if}}

          <div class="card card-default">
            <div class="card-body">

              <form method="post" action="/users/add">
                <div class="form-group row">
                  <label for="firstName" class="col-sm-2 col-form-label"><strong>First Name:</strong></label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="firstName" placeholder="Enter first name" autofocus required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lastName" class="col-sm-2 col-form-label"><strong>Last Name:</strong></label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="lastName" placeholder="Enter last name" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-2 col-form-label"><strong>Email:</strong></label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="email" placeholder="Enter email address" required>
                  </div>
                </div>
                <div class="float-right">
                  <input type="submit" value="Save" class="btn btn-success">
                  <input type="button" value="Cancel" class="btn btn-outline-danger" onclick="cancelUserAdd()">
                </div>
              </form>

              <br><br>
              <hr>
              <p class="text-center">Already have an account?
                <a href="/users/login">login</a>
              </p>              
            </div>
          </div>

        {{/if}}

    </div>
  </div>
</div>

