
<br>
<div class="login_user">
  <div class="container-fluid">
    <div class="col-sm-6 offset-sm-3">
      <br>          

        <!-- check for validation error messages and print them out -->
        {{#if errors}}
          <section class="errors">
            <ul>
              {{#each errors}}
                <li>{{this.msg}}</li>
              {{/each}}
            </ul>
          </section>
        {{/if}}

          <div class="card card-default">
            <div class="card-body">
              <form method="post" action="/users/add">

                <div class="form-group row">
                  <label for="email" class="col-sm-3 col-form-label"><strong>Email:</strong></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="email" placeholder="Enter email address" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password" class="col-sm-3 col-form-label"><strong>Password:</strong></label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" name="password" placeholder="Enter password" required>
                  </div>
                </div>
                <div class="float-right">
                  <input type="submit" value="Save" class="btn btn-success">
                  <input type="button" value="Cancel" class="btn btn-outline-danger" onclick="cancelUserAdd()">
                </div>
              </form>

              <br><br>
              <hr>
              <p class="text-center">Don't have an account yet?
                <a href="/users/add">Sign up</a>
              </p>              
            </div>
          </div>

    </div>
  </div>
</div>

