
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-12">

        <div class="row">            

            <div class="col-sm-6 text-center">image</div>
            
            <!-- product details -->
            <div class="col-sm-6">
                <div><h5>{{data.name}}</h5></div><br>                
                <!-- call convertToCurrency helper function in server.js -->
                <div>{{convertToCurrency data.price}}</div><br>
                <div>{{data.description}}</div><br>   

                <div>
                    Only xxxx left in stock - order soon. <br>
                    select quantity: <br><br>
                    <a href="/cart/add/{{data.id}}" class="btn btn-outline-primary">Add to cart</a>
                </div>
            </div>

        </div>

    </div>
  </div>
</div>