<form method="POST" action="/calc">
  <input type="text" name="formula" placeholder="Enter formula (2 + 3)" />
  <input type="submit" value="Calculate" />
</form>

<hr/>
<b>Sample Inputs:<br/>
2 + 3 <br/>
2 * (3 + 4) <br/>
2; process.exit(); <br/>
2 + 3 <br/>
</b>

