<form method="POST" action="/lookup">
  <input type="text" name="lastname" 
     placeholder="Enter lastname" size="50"/>
  <input type="submit" value="Lookup" />
</form>


<hr/>
<b>Sample Inputs:<br/>
Suresh<br/>
Sure&lt;h2&gt;sh&lt;&#x2F;h2&gt; <br/>
&lt;script&gt;alert(&#x27;hacked&#x27;)&lt;&#x2F;script&gt;

</b>